@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

:root {
  --primary-color: #e6533c;
  --primary-text-color: #fff;
  --secondary-color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 1.6rem;
}
body {
  background-color: rgb(0, 0, 0);
}
/* shared Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary {
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-size: 1.8rem;
  padding: 8px 20px;
  border: none;
  border-radius: 39px;
}
.header {
  height: 715px;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0.02) 100%
  );
}
.brand-name {
  font-size: 36px;
  font-weight: 800;
  color: var(--primary-color);
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55.3%;
  margin: 0 auto;
  padding-top: 24px;
}
.main-menu {
}
.main-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 47px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 8px 20px;
}
.main-menu ul li {
  list-style: none;
  font-size: 1.8rem;
}
.main-menu li a {
  text-decoration: none;
  color: var(--primary-text-color);
}
/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  width: 55.5%;
  margin: 0 auto;
}
.text-box {
  width: 520px;
  text-align: left;
}
.banner-title {
  font-size: 7.8rem;
  color: var(--primary-text-color);
  font-weight: 900;
  margin-top: 96px;
}
.banner-description {
  font-size: 1.6rem;
  color: var(--secondary-color);
  margin: 28px 0;
}
.join-btn {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-size: 1.8rem;
  border: none;
  border-radius: 42px;
  padding: 16px 40px;
}
.download-btn {
  background-color: black;
  color: var(--primary-text-color);
  font-size: 1.8rem;
  border: 1px solid #fff;
  border-radius: 42px;
  padding: 16px 40px;
}
.ellipse {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.banner-photo {
  position: relative;
}
.tutorial {
  position: absolute;
  top: 420px;
  left: -130px;
  z-index: 10;
}
.video-tutorial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgba(48, 48, 48, 0.54);
  width: 206px;
  height: 96px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 8px 12px;
}
#num350 {
  font-size: 2.4rem;
  font-weight: 900;
}
.workout-video {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgba(48, 48, 48, 0.54);
  color: #fff;
  width: 206px;
  height: 96px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 130px;
  right: -100px;
  z-index: 10;
}
#num550 {
  font-size: 40px;
  font-weight: 900;
}
.habit-item {
  width: 350px;
}
.habit-item img {
  border-radius: 50%;
}
main {
}
.habit {
  margin-top: 100px;
  color: #fff;
  text-align: center;
}
.habit-title {
  font-size: 48px;
  font-weight: 900;
  color: var(--primary-text-color);
}
.habit-description {
  margin-top: 14px;
  color: var(--secondary-color);
}
.habit-list {
  width: 55.3%;
  display: flex;
  margin: 0 auto;
  margin-top: 58px;
}
.habit-list p {
  color: var(--secondary-color);
  margin-top: 6px;
}
.habit-list h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 6px;
}
.runner-container {
  width: 55.3%;
  /* height: 371px; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  color: #fff;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.runner-textbox {
  padding: 36px 40px;
  width: 443px;
}
.runner-title {
  font-size: 48px;
  font-weight: 900;
}
.runner-description {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 14px;
  /* margin: 14px 0 34px; */
  padding: 14px 0 34px;
}
.runner-photo {
  padding: 30px 30px 30px 160px;
  width: 566px;
  /* height: 312px; */
}
.runner-photo img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.exercise-container {
  width: 55.3%;
  margin: 0 auto;
  margin-top: 100px;
  color: #fff;
}
.exercise-title {
  font-size: 48px;
  font-weight: 900;
}
.exercise-description {
  font-size: 14px;
  color: var(--secondary-color);
  margin: 14px 0 58px;
}
.gallery-column1 {
  display: flex;
}
.gallery-column2 {
  display: flex;
}
.item {
  height: 250px;
}
.item-layer {
  position: relative;
  width: 100%;
  height: 100%;
}
.exercise1 {
  background-image: url(../asset/images/exercise1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.exercise1 .item-layer {
  background-color: rgba(6, 255, 210, 0.5);
}
.exercise1 span{
  position: absolute;
  left: 20px;
  bottom: 30px;
}
.exercise2 {
  background-image: url(../asset/images/exercise2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.exercise2 .item-layer {
  background-color: rgba(255, 0, 0, 0.3);
}
.exercise2 span{
  position: absolute;
  left: 20px;
  top: 30px;

}

.exercise3 {
  background-image: url(../asset/images/exercise3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.exercise3 .item-layer {
  background-color: rgba(0, 0, 0, 0.5);
}
.exercise3 span{
  position: absolute;
  left: 20px;
  bottom: 30px;
}
.exercise4 {
  background-image: url(../asset/images/exercise4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.exercise4 .item-layer {
  background-color: rgba(0, 0, 0, 0.5);
}
.exercise4 span{
  position: absolute;
  right: 20px;
  top: 30px;
}
.exercise5 {
  background-image: url(../asset/images/exercise5.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.exercise5 .item-layer {
  background-color: rgba(66, 255, 0, 0.3);
}
.exercise5 span{
  position: absolute;
  left: 20px;
  bottom: 30px;
}
.exercise6 {
  background-image: url(../asset/images/exercise6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.exercise6 .item-layer {
  background-color: rgba(0, 71, 255, 0.3);
}
.exercise6 span{
  position: absolute;
  left: 20px;
  bottom: 30px;
}
.item-layer span{
  text-align: justify;
}
/* Bm Calculator Section */
.bm-textbox{
  width: 671px;
  text-align: left;
  margin: 88px auto;
}
.bm-title{
  font-size: 48px;
  font-weight: 900;
  color: var(--primary-text-color);
}
.bm-description{
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
  margin-top: 14px;
}
th{
    color: var(--primary-text-color)
}
td{
  color: var(--secondary-color);
}
.chart-calculator{
  background-color:rgb(34, 34, 34); 
}
.chart-calculator .container{
  width: 55.3%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 52px 0;

  
}

.calculator{
  width: 577px;
  
}

.chart-title,.cal-title{
  font-size: 24px;
  font-weight: 900;
  color: var(--primary-text-color);
}
.chart-title{
  margin-bottom: 24px;
}
.cal-description{
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
  margin: 18px 0;

}
.chart table , th, td{
  border: 1px solid #fff;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}
.form-item1{ grid-area: item1;}
.form-item2{ grid-area: item2;}
.form-item3{ grid-area: item3;}
.form-item4{ grid-area: item4;}
.form-item5{ grid-area: item5;}
form{
  display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item5";
    gap: 10px; 
    padding: 10px;
}
input , select{
  padding: 20px;
  border: none;
  border-radius: 18px;
}
.team{
  width: 55.3%;
  margin: 0 auto;
}
.team-title{
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-text-color);
  margin-top: 50px;
  text-align: center;
}
.team-description{
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
  margin: 10px 0 50px 0;
  text-align: center;
}
.team-member{
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  padding: 10px;
  border-radius: 18px;
  margin-top: 24px;
}
.team-member > div{
  width: 100%;
  height: 250px;
  /* background-color: #e6533c; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  position: relative;
}
.member1{
  background-image: url(../asset/images/trainer1.png);
}
.member2{
  background-image: url(../asset/images/trainer2.png);
}
.member3{
  background-image: url(../asset/images/trainer3.png);
}
.member4{
  background-image: url(../asset/images/trainer4.png);
}
.member5{
  background-image: url(../asset/images/trainer5.png);
}
.member6{
  background-image: url(../asset/images/trainer6.png);
}
.trainer-title{
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: var(--secondary-color);
}
.trainer-title h4{
  color: #fff;
}
.footer{
  background: rgba(255, 255, 255, 0.1);
  height: 600px;
  margin-top: 88px;

}
.footer .container{
  width: 55.3%;
  margin: 0 auto;
  
}










/* .team-member{
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.member1{
  background-color: #e6533c;
  background-image: url(../asset/images/trainer1.png);
  background-repeat: no-repeat;
  background-size: 300px 250px;
}
.member2{
  background-image: url(../asset/images/trainer1.png);
}
.member3{
  background-image: url(../asset/images/trainer1.png);
}
.member4{
  background-image: url(../asset/images/trainer1.png);
}
.member5{
  background-image: url(../asset/images/trainer1.png);
}
.member4{
  background-image: url(../asset/images/trainer1.png);
} */
